.footer_icon{
    margin-right:.3rem;
}
.footer-container-fluid{
    width: 100%;
    margin:auto;
    overflow: hidden;
}

@media only screen and (max-width:800px) {
    .footer_contact{
        display: flex;
        display:inline;
        /* flex-direction: row; */
    }
}