.footer-column1
{
    border: 1px solid;
    background-color: navy;
    border-radius: 50px 0px 0px 0px;
}
.footer-column2
{
    
    border: 1px solid;
    background-color:  rgb(102, 102, 160);
    
}
.footer-logo
{
    text-align: left;
    padding: 5px;
    float: left;
}
.logo-p
{
    color: white;
    padding-top: 20px; 
    text-align: center;
    padding-bottom: 3px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
   
    padding-bottom: 13px;
}
.col1-p
{
    color: white; 
    text-align: center; 
    font-size: 17px;
    padding-top: 15px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.568);
}
.col1-read
{
    color: white;
    text-align: center; 
    font-size: 14px; 
    text-decoration: underline;
}
.col1-follow
{
    color: white; 
    text-align: center; 
    font-size: 16px;
}
.col1-row
{
    justify-content: space-around;
    text-align: center;
}
.col2head-p
{
    text-align: center; 
    color: white; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.568);
}
.links-p
{
    color: white; 
    text-align: center; 
    font-size: 14px;
    padding-top: 17px;
}
.footer-column3
{
    background-color:  rgb(102, 102, 160);
    border-radius: 0px 0px 40px 0px;
}
.col3-contact
{
    text-align: center; 
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.568);
}
.col3-row
{
    justify-content: center;
    text-align: center;

}
.col3-img1
{
    text-align: end;
}
.col3-p
{
    font-size: 14px; 
    text-align: left;
    color: white;
}