.first img{
    height: 70%;
    width: 100%;
    opacity: 0.8;
}
.first{
    background-color: black !important;
}
.first h3{
    color:rgb(255, 249, 249) !important;
    letter-spacing: 0.06em;
    font-family: sans-serif;
    font-weight: 400;

}
.first p{
    color:rgb(247, 241, 241) !important; 
    letter-spacing: 0.06em;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 400;
}
@media only screen and (max-width: 400px){
    div .first{
        margin-top: 15rem;
    }
}