*{
    margin: 0;
    padding: 0;
    /* background-color: antiquewhite; */
}
.aboutSection{
    display: grid;
    grid-template-rows: 529px 650px 700px 750px 500px 200px 200px;
}
.first{
    /* background-color: aliceblue;  */
}
h3{
    color: black;
    font-weight: bold;
}
p{
    color: black;
}
.first img{
    height: 100%;
    width: 100%;
    opacity: 0.8 ;
}
.second{
    /* background-color: rgb(189, 203, 216); */
    background-color: rgb(231,243,247);
    display: flex;  
 
}
.none{
    flex: 1;
    /* background-color: aqua; */
}
.image{
    flex: 5;
    height: 530px;
    /* background-color: antiquewhite; */
}
.second img{
   width: 100%;
   height: 100%;
 
}
.textBox{
    flex: 5;
    height: 430px;
    background-color: rgb(96, 156, 198);
    margin-left : -80px;
    
    
}
.textBox h1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textBox p{
    display: flex;
    padding: 40px;
}
.nonee{
    flex: 1;
    /* background-color: aqua; */
}
.third{
   /* background-color: rgb(203, 240, 240); */
   background-color: rgb(205, 231, 239);
}
.third button{
    width: 150px;
    margin-top: 50px;
    height: 50px;
    align-content: center;
    border-radius: 20px;
    letter-spacing: 0.3rem;
    border: none;

    /* box-shadow: 1px rgb(189, 203, 216); */
}
.flexBox{
    /* margin: 70px auto; */
    margin-top: 60px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 50px;
    /* background-color: beige; */
    justify-content: center;
}
.member1{
    height: 420px;
    background-color: #f9f4f4;
    /* border: 0.5px solid gray;
    box-shadow: 2px  2px 0px 2px #888888; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.member1 img{
    margin-top: 15px;
    height:  120px;
    width: 120px;
    border: 3px solid rgb(15, 98, 18);
    border-radius: 50%;
    margin-left: 65px;
}

.member2{
    height: 420px;
   
    background-color: #f9f4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
 
}
.member2 img{
    margin-top: 15px;
    height:  120px;
    width: 120px;
    border: 3px solid rgb(15, 98, 18);
    border-radius: 50%;
    margin-left: 65px;
}
.third h4{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third p{
    padding:10px 30px;
    font-family: 'Kaisei Tokumin';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 108%;
    /* or 39px */
    
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.04em;
    
}
.third h5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(73, 57, 216);
}
.third .icons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.third .db{
   
    margin-right: 12px;
}
.member3{
    height: 420px;
    background-color: #f9f4f4;
    /* border: 1px solid gray;
    box-shadow: 2px  2px 0px 2px #888888; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.member3 img{
    margin-top: 15px;
    height:  120px;
    width: 120px;
    border: 3px solid rgb(15, 98, 18);
    border-radius: 50%;
    margin-left: 65px;
}
.member4{
    height: 420px;
   
    background-color: #f9f4f4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
 
}
.member4 img{
    margin-top: 15px;
    height:  120px;
    width: 120px;
    border: 3px solid rgb(15, 98, 18);
    border-radius: 50%;
    margin-left: 65px;
}
.fourth{
    /* background-color: rgb(189, 203, 216); */
    background-color: rgb(231,243,247);
    display: grid;
    justify-content: center;
    
    grid-template-rows: 100px 500px;
    grid-template-columns: 210px 210px 210px;
    grid-row-gap:50px;
    grid-column-gap: 60px;
    
}
.fourth .box4{
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
.fourth .box1{   
box-sizing: border-box;
background: #FFFFFF;
border-top: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;

}
.fourth .vision{
    height: 80px;
    width: 18%;
}
.fourth .box1:hover{
    background-color: rgb(205, 231, 239); 
    /* color:green; */
    height: 110px;
    width: 220px;
    font-size: 20%;
}

.fourth .box2{   
    box-sizing: border-box;
    background: #FFFFFF;
    border-top: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
}
.fourth .box3{   
    box-sizing: border-box;
    background: #FFFFFF;
    border-top: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
}
.fourth .box4{
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
}
.fourth .content{
    width: 50%;
    /* background-color: antiquewhite; */
    height: 99%;
}
.fourth h3{
    color: rgb(210, 45, 51);
    display: flex;
justify-content: center;
align-items: center;
}
.fourth .image{
    width: 50%;
    /* background-color: rgb(143, 100, 45); */
    height: 99%;
}
.fourth img{
    
    height: 100%;
    width: 100%;
}
.fourth p{
    padding: 60px 30px;
    letter-spacing: 0.05rem;
    line-height: 150%;
}


.fifth{
    background-color: rgb(205, 231, 239);
    
}

.fifth .people{
    display: flex;
    
}
.fifth .faltus{
    flex:5;
    
}
.fifth .hr{
    flex: 0.5;
   
  
}
.fifth hr{
    height: 3px;
    color: solid rgb(4, 1, 1);
}
.fifth .header{
    flex:1;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}
.fifth .hr{
    flex: 0.5;
  
}
.fifth .faltu{
    flex:5;
}
.fifth .imgPeople{
    display: grid;
    grid-template-rows: 370px;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    grid-gap:70px;
   
}

.fifth img{
    width: 100%;
    height:100% ;

}

.image1{
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.3;
}
.image1:hover .overlay {
    height: 100%;
}



.text {
    color: rgb(232, 219, 219);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left:45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.fifth .company{
    font-family: 'Jaldi';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 110%;
/* or 28px */

/* display: flex;
align-items: flex-end;
text-align: center; */
letter-spacing: 0.03em;

color: #040713;
}
.sixth{
    background-color: rgb(231,243,247);
}
.seventh{
    background-color: rgb(205, 231, 239);
}