.banners {
  background-color: white;
}
.banner {
  background-color: white;
}
.service_banner_text{
  margin:auto;
}
.service_banner{
  width:100%;
  padding: 4.312rem 0 0 0 ;
}
.Dis {
  color: rgb(13, 101, 217);
}

.hr {
  color: rgba(255, 0, 0, 0.719);
}

@media (min-width: 575px) and (max-width: 780px) {
  .aboutus_paragraph {
    padding: 0;
  }
}
