.heading{
    font-family:'Raleway';
    font-weight: bold; 
    font-style: italic; 
    color:black; 
    padding-top: 10px; 
    justify-content: center;

}
/* .banner{
    height: 420px;;
    width: 100%;
} */
.banner{
    /* background-color: rgb(231, 243, 247); */
    background-color: aqua;
}
