.main-process
{
    /* border: 1px solid; */
    padding-top: 8px;
    padding-bottom: 8px;
   
   
}
.main-process h3
{
    text-align: center;
}
.second-process
{
    /* border: 1px solid; */
    justify-content: center;
    text-align: center;
    
}
.div-col
{
    /* border: 1px solid; */
    width: 50%;
    transition: width 1s, height 1s;
}
.div-col h6
{
    font-weight: bolder;
}
.div-paragraph
{
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px solid; */
}
.div-col p{
    font-size: 13px;
    
}
@media screen and (max-width: 950px) {
    .main-process{
        columns:  50% 50%;
    }
}
@media screen and (max-width: 500px) {
    .main-process{
        columns: 98%;
    }
}
