
.main-process {
  /* border: 1px solid; */
  padding-top: 8px;
  padding-bottom: 8px;
}
.ourprocess_heading{
  text-align: center;
  padding-top:1rem;
}

.second-process {
  padding:1rem;
  /* border: 1px solid; */
  justify-content: center;
  text-align: center;
  width:100%;
  margin:0;
}
.div-col {
  /* border: 1px solid; */
  /* width: 50%; */
  transition: width 1s, height 1s;
}
.div-col img{
    width:60%;
    height:60%;
}
.div-col h6 {
  font-weight: bolder;
}
.div-paragraph {
  padding-left: 15px;
  padding-right: 15px;
  width:75%;
  margin:auto;
  text-align:justify;
  /* border: 1px solid; */
}
.div-col p {
  font-size: 13px;
}
@media screen and (max-width: 950px) {
  .main-process {
    columns: 50% 50%;
  }
}
@media screen and (max-width: 440px) {
  .main-process {
    columns: 98%;
  }

}
@media screen and (max-width: 550px) {

.div-paragraph{
  width:auto;
  width:60%;
}
}